body {
    background: #f6f6f6;
}

.b-products {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.b-product-item {
    background: #fff;
    width: 280px;
    height: 280px;
    margin-left: 30px;
    border-radius: 10%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.b-product-item:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.b-product-item__img {
    height: 40%;
    margin-top: 20px;
}

.b-product-item__name {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin: 0;
}

.b-product-item__price {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.by-btn,
.btn-cart {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.by-btn:hover,
.btn-cart:hover {
    background: #ffa208;
    color: #fff;
}

.btn-cart {
    display: block;
    margin: auto;
}